<div class="social">
  <ul class="social-links">
    {{ with .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ . }}"><i class="fa-brands fa-github"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Email }}
      <li><a href="mailto:{{ . }}"><i class="fa-brands fa-envelope"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Twitter }}
      <li><a href="https://twitter.com/{{ . }}"><i class="fa-brands fa-twitter"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Threads }}
    <li><a href="https://threads.net/@{{ . }}"><i class="fa-brands fa-threads"></i></a></li>
  {{ end }}

    {{ with .Site.Params.Social.LinkedIn }}
      <li><a href="https://linkedin.com/in/{{ . }}"><i class="fa-brands fa-linkedin"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Stackoverflow }}
      <li><a href="https://stackoverflow.com/{{ . }}"><i class="fa-brands fa-stack-overflow"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Medium }}
      <li><a href="https://medium.com/@{{ . }}"><i class="fa-brands fa-medium"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Telegram }}
      <li><a href="https://telegram.me/{{ . }}"><i class="fa-brands fa-telegram"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.RSS }}
      <li><a href="{{ . }}"><i class="fa-brands fa-rss"></i></a></li>
    {{ end }}
  </ul>
</div>
